<h2>Appointment Information</h2>

<h4>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h4>
<br />

<h4>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h4>
<br />

<h4>Date and Time: <%= @appointment.datetime %> </h4>
<br />